<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nombre del Libro</label>
        <input type="text" class="form-control"
               formControlName="LibroName"
               #LibroName />
      </div>
      <div *ngIf="angForm.controls['LibroName'].invalid && (angForm.controls['LibroName'].dirty || angForm.controls['LibroName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['LibroName'].errors.required">
          El nombre del Libro es requerido
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Editorial del Libro </label>
        <input type="text" class="form-control"
               formControlName="LibroEditorial"
               #LibroEditorial />
      </div>
      <div *ngIf="angForm.controls['LibroEditorial'].invalid && (angForm.controls['LibroEditorial'].dirty || angForm.controls['LibroEditorial'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['LibroEditorial'].errors.required">
          La Editorial del Libro es Requerida
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Idioma del Libro</label>
        <input type="text" class="form-control"
               formControlName="LibroIdiom"
               #LibroIdiom
        />
      </div>
      <div *ngIf="angForm.controls['LibroIdiom'].invalid && (angForm.controls['LibroIdiom'].dirty || angForm.controls['LibroIdiom'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['LibroIdiom'].errors.required">
         Idioma del Libro es Requerido
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Descripcion del Libro</label>
        <textarea class="form-control" rows = 7 cols = "5"
                  formControlName="LibroDescription"
                  #LibroDescription></textarea>
      </div>
      <div *ngIf="angForm.controls['LibroDescription'].invalid && (angForm.controls['LibroDescription'].dirty || angForm.controls['LibroDescription'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['LibroDescription'].errors.required">
          La Descripcion es Requerida
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Autor</label>

        <select class="form-control"  #LibroAuthor>
          <option *ngFor="let author of authors"  [value]="author.AuthorName" >{{author.AuthorName}}</option>
        </select >
      </div>

      <div class="form-group">
        <button (click) = "addBook(LibroName.value, LibroEditorial.value, LibroIdiom.value, LibroDescription.value, LibroAuthor.value)" type="submit" class="btn btn-primary"
                [disabled]="angForm.pristine || angForm.invalid" >
          Agregar Libro
        </button>
      </div>
    </form>
  </div>
</div>
