<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="libro/create" class="nav-link" routerLinkActive="active">
         Agregar Libro
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="libros" class="nav-link" routerLinkActive="active">
          Libros
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="author/create" class="nav-link" routerLinkActive="active">
          Agregar un autor
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="authors" class="nav-link" routerLinkActive="active">
          Autores
        </a>
      </li>

    </ul>
  </div>
</nav>


<div class="container">

      <router-outlet></router-outlet>


</div>
