

<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">Nombre del Libro</div>
    <div class="col-md-2">Editorial del Libro</div>
    <div class="col-md-2">Idioma del Libro</div>
    <div class="col-md-2">autor del Libro</div>
    <div class="col-md-2">Descripcion del Libro</div>
    <div class="col-md-2 text-center my-actions">Acciones</div>

  </div>
  <div class="clearfix"></div>
  <div class="row" *ngFor="let libro of libros; let i = index">
    <div class="col-md-2">{{libro.LibroName}}</div>
    <div class="col-md-2">{{libro.LibroEditorial}}</div>
    <div class="col-md-2">{{libro.LibroIdiom}}</div>
    <div class="col-md-2">{{libro.LibroAuthor}}</div>
    <div class="col-md-2">{{libro.LibroDescription}}</div>
    <div class="col-md-1 text-center"><a [routerLink]="['/libro/edit', libro._id]" class="btn btn-primary col-sm truncate">Edit</a></div>
    <div class="col-md-1 text-center" > <a (click) = "deleteLibro(libro._id, i)"class="btn btn-danger col-sm truncate">Delete</a></div>

  </div>
</div>
